<%#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
%>

<h4>Getting Started</h4>
<ul class="nav nav-pills nav-stacked">
  <li><a href="/docs/download.html">Download</a></li>
  <li><a href="/docs/spark/getting-started.html">DataFu Spark</a></li>
  <li><a href="/docs/datafu/getting-started.html">DataFu Pig</a></li>
  <li><a href="/docs/hourglass/getting-started.html">DataFu Hourglass</a></li>
</ul>

<h4>DataFu Spark Docs</h4>
<ul class="nav nav-pills nav-stacked">

  <li><a href="/docs/spark/guide.html">Guide</a></li>
  <li><a href="https://datafu.apache.org/docs/spark/2.0.0/">Scaladocs</a></li>
</ul>

<h4>DataFu Pig Docs</h4>
<ul class="nav nav-pills nav-stacked">

  <li><a href="/docs/datafu/guide.html">Guide</a></li>
  <li><a href="https://datafu.apache.org/docs/datafu/1.6.1/">Javadocs</a></li>
</ul>

<h4>DataFu Hourglass Docs</h4>
<ul class="nav nav-pills nav-stacked">

  <li><a href="/docs/hourglass/concepts.html">Concepts</a></li>
  <li><a href="https://datafu.apache.org/docs/hourglass/1.6.1/">Javadocs</a></li>
</ul>

<h4>Community</h4>
<ul class="nav nav-pills nav-stacked">
  <li><a href="/community/mailing-lists.html">Mailing Lists</a></li>
  <li><a href="/community/contributing.html">Contributing</a></li>
  <li><a href="/community/issues.html">Issues</a></li>
  <li><a href="https://cwiki.apache.org/confluence/display/DATAFU/DataFu+Home">Wiki</a></li>
</ul>

<h4>Apache Software Foundation</h4>
<ul class="nav nav-pills nav-stacked">
  <li><a href="https://www.apache.org/" target="_blank">Homepage</a></li>
  <li><a href="https://www.apache.org/licenses/" target="_blank">License</a></li>
  <li><a href="https://www.apache.org/foundation/sponsorship.html" target="_blank">Sponsorship</a></li>
  <li><a href="https://www.apache.org/security/" target="_blank">Security</a></li>
  <li><a href="https://www.apache.org/foundation/thanks.html" target="_blank">Thanks</a></li>
</ul>
