<div class="footer">
  <p>Apache DataFu is undergoing incubation at The Apache Software Foundation.

  <a class="incubator-logo" href="http://incubator.apache.org/">
    <img src="/images/egg-logo.png" alt="Apache Incubator" title="Apache Incubator">
  </a>
  </p>
  
</div>