<div class="header">

  <ul class="nav nav-pills pull-right">
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Blog", "/blog" %></li>
  </ul>

  <h3 class="header-title"><a href="/">Apache DataFu&trade;</a></h3>

</div>
